/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #c8d8e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ecf2f6;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: black;
}

p {
    font-size: 0.9rem;
    color: black;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 0.9rem;
    color: black;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #c8d8e4;
    border-radius: 5px;
    font-size: 0.9rem;
}

.signup-btn {
    background-color: #52ab98;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #2b6777;
}

.login-text {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: black;
}

.login-link {
    text-decoration: none;
    color: #52ab98;
}

.login-link:hover {
    text-decoration: underline;
}